body{
  padding: 0;
  margin: 0;
  background-color: $bg-color;
}

#app{
  margin: $app__margin;
}

.app__container{
  width:375px;
  height:640px;
  margin: $app__margin;
  overflow: scroll;
  background-color: $app-color;
  box-shadow: $app-shadow;

  header{
    position: relative;
    padding: 12px 30px;
    text-align: left;
    border-bottom: 3px solid $border-color;

    .header__container{
      margin: 30px auto 10px auto;

      h1{
        display: inline-block;
        margin: 0;
        line-height: 0.7;
        font-family: sans-serif;
        font-size: 30px;
        letter-spacing: 1px;
        font-weight: 400;
        color: $font-color;
      }
    }
  }
}

  .header__img--edit{
    display: inline-block;
    height: 20px;
    width: 20px;
    float: right;
  }
  .header__link{
    border: none;
    float: right;
    background-color: transparent;
    cursor: pointer;
    width: 100px;
  }
