form{
  margin: $app__margin;
}

.form{
  margin-top: 30px;

  .form__header{
    margin-left: 10px;
    font-family: 'Arial', sans-serif;
  }
  .form__container{
    border-bottom: 1px solid $border-color;
    padding-bottom: 10px;

    .form__input{
      width: 60%;
      height: 30px;
      box-sizing: border-box;
      margin-left: 10px;
      padding: 10px;
      border: 1px solid $border-color;
      font-size: $font-14;
      border-radius: 8px;
    }
    .form__button{
      width: 100px;
      height: 30px;
      box-sizing: border-box;
      margin-right: 10px;
      float: right;
      border: 1px solid $blue;
      border-radius: 8px;
      font-size: $font-14;
      text-transform: uppercase;
      background-color: $blue;
      color: $white;
    }
  }

  .form_error{
    margin-left: 10px;
    padding: 15px 0;
    text-align: left;
    font-family: sans-serif;
    font-size: $font-16;
    font-weight: 100;
    color:$error;
  }

}
