table {
  width: 100%;
  border-spacing: 0;
  background-color: $pure-white;
}
.table{
  margin: $app__margin;
  font-family: sans-serif;
}

.todos__task{
  width: 40%;
}

.table__row{
  line-height: 3;
  font-family: "Arial", sans-serif;

  td{
    padding: 10px 8px;
    border-bottom: 1px solid $border-color !important;

    .table__input{
      height: 20px;
      width: 90px;
      padding: 5px;
      border: 1px solid $border-color;
      border-radius: 5px;
      float: left;
      font-size: $font-14;
      font-weight: 100;
      color: $font-color;
    }
    .date__wrapper{
      width: 25%;
    }
    .table__buttons{
      text-align: right;
      width: 35%;
    }
    .button{
      width: 50px;
      height: 25px;
      font-size: 13px;
      font-weight: 100;
      cursor: pointer;
    }
    .button__left{
      display: inline-block;
      border-radius: $button-left;
      border:1px solid $border-color;
      background-color: transparent;
    }
    .button__right{
      display: inline-block;
      border-radius: $button-right;
      border:1px solid $font-color;
      background-color: $font-color;
      color:$white;
    }

  }

}

.table__row--error {
  .table__error{
    border: none !important;
    width: 100% !important;

    .form_error{
      margin-left: 10px;
      padding: 15px 0;
      text-align: left;
      font-family: sans-serif;
      font-size: $font-16;
      font-weight: 100;
      color:$error;
    }
  }
}
