$bg-color: #d2c4c3;
$app-color: #fafafa;
$border-color: #ddd;
$blue: #216BA5;
$white: #f0f0f0;
$pure-white: #fff;
$error: #D0021B;
$font-color: #333;

$app-shadow: 0px 10px 15px #666;
$font-14: 14px;
$font-16: 16px;
$button-left: 4px 0 0 4px;
$button-right: 0 4px 4px 0;
$app__margin: 0 auto;
