$border-color: #aeaeae;
$day-color: #f0f0f0;
$header-color: #f0f0f0;
$selected-color: #216ba5;
$highlighted-color: #3dcc4a;
$muted-color: #ccc;
$text-color: #000;

$font-size: .7rem;
$border-radius: .3rem;
$item-size: 1.7rem;
$day-margin: .166rem;
$triangle-size: 8px;
$datepicker__margin: 0rem;
$navigation-size: .45rem;
